<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
    {{ HEAD }}
  <link href="/assets/app.bc35257661150fa55f19fa5726fe83ae.css" rel="stylesheet"></head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  <script type="text/javascript" src="/assets/manifest.7c2eee241ab41f0511c9.js"></script><script type="text/javascript" src="/assets/vendor.a90b3d985e4aa7276292.js"></script><script type="text/javascript" src="/assets/app.fac0e2c8f92cbf347ed9.js"></script></body>
</html>
